name: 'Gleam'
scopeName: 'source.gleam'
type: 'tree-sitter'
parser: 'tree-sitter-gleam'
fileTypes: ['gleam']
comments:
  start: '// '

scopes:
  'module_comment': 'comment.block'
  'statement_comment': 'comment.block'
  'comment': 'comment.block'

  'constant > identifier:nth-child(1)': 'constant.other'

  'public_function > identifier': 'entity.name.function'
  'function > identifier': 'entity.name.function'
  'external_function > identifier': 'entity.name.function'
  'public_external_function identifier': 'entity.name.function'
  'function_parameter > identifier': 'entity.name.function'

  'remote_type_identifier': 'support.storage.type'
  'type_identifier': 'support.storage.type'

  'string': 'string.quoted.double'
  'integer': 'constant.numeric.decimal'
  'float': 'constant.numeric.decimal'

  'binary_expression > "*"': 'keyword.operator'
  'binary_expression > "||"': 'keyword.operator'
  'binary_expression > "&&"': 'keyword.operator'
  'binary_expression > "=="': 'keyword.operator'
  'binary_expression > "!="': 'keyword.operator'
  'binary_expression > "<"': 'keyword.operator'
  'binary_expression > "<."': 'keyword.operator'
  'binary_expression > "<="': 'keyword.operator'
  'binary_expression > "<=."': 'keyword.operator'
  'binary_expression > ">"': 'keyword.operator'
  'binary_expression > ">."': 'keyword.operator'
  'binary_expression > ">="': 'keyword.operator'
  'binary_expression > ">=."': 'keyword.operator'
  'binary_expression > "|>"': 'keyword.operator'
  'binary_expression > "+"': 'keyword.operator'
  'binary_expression > "+."': 'keyword.operator'
  'binary_expression > "-"': 'keyword.operator'
  'binary_expression > "-."': 'keyword.operator'
  'binary_expression > "*"': 'keyword.operator'
  'binary_expression > "*."': 'keyword.operator'
  'binary_expression > "/"': 'keyword.operator'
  'binary_expression > "/."': 'keyword.operator'
  'binary_expression > "%"': 'keyword.operator'

  '"as"': 'keyword.control'
  '"assert"': 'keyword.control'
  '"case"': 'keyword.control'
  '"const"': 'keyword.control'
  '"external"': 'keyword.control'
  '"pub"': 'keyword.control'
  '"fn"': 'keyword.control'
  '"if"': 'keyword.control'
  '"import"': 'keyword.control'
  '"let"': 'keyword.control'
  '"opaque"': 'keyword.control'
  '"pub"': 'keyword.control'
  '"todo"': 'keyword.control'
  '"try"': 'keyword.control'
  '"type"': 'keyword.control'

  '"["': 'punctuation.definition.begin.bracket.square'
  '"]"': 'punctuation.definition.end.bracket.square'
  '","': 'punctuation.separator.delimiter'
  '"{"': 'punctuation.section.block.begin.bracket.curly'
  '"}"': 'punctuation.section.block.end.bracket.curly'
  '"("': 'punctuation.section.parens.begin.bracket.round'
  '")"': 'punctuation.section.parens.end.bracket.round'
  'string > "\\""': 'punctuation.definition.string'

  '"."': 'keyword.operator'
  '","': 'keyword.operator'
  '":"': 'keyword.operator'
  '"#"': 'keyword.operator'
  '"="': 'keyword.operator'
  '"->"': 'keyword.operator'
  '".."': 'keyword.operator'
